<div class="game-container relative flex flex-col">
  <div class="resource-bar-container px-4 pt-2 pb-1 flex-shrink-0">
    <app-panel-resources />
  </div>
  <div class="flex gap-4 flex-1 min-h-0">
  <div class="sidebar w-64 flex-shrink-0 flex flex-col gap-4 overflow-y-auto">
    <app-panel-floor-selector />
    <app-panel-roster />
    <app-panel-room-info />
    <app-synergy-tooltip />
    <app-panel-training-grounds />
    <app-panel-altar />
    <app-panel-throne-room />
    <app-panel-room-select />
    <app-panel-reputation />
  </div>
  <div class="flex-1 flex items-center justify-center overflow-auto">
    <app-grid />
  </div>
  </div>
</div>

<ng-container [appTeleportOutlet]="'menu-options'"></ng-container>
