:host {
  @apply block w-full h-full;
  user-select: none;
}

.game-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.resource-bar-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  pointer-events: none;
}

.morale-bar-wrapper {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  pointer-events: none;
}
