@plugin "daisyui" {
  themes:
    light,
    dark --default --prefersdark,
    cupcake,
    synthwave,
    halloween,
    forest,
    black,
    luxury,
    dracula,
    business,
    night,
    coffee,
    sunset,
    dim,
    light,
    cupcake,
    bumblebee,
    emerald,
    corporate,
    retro,
    cyberpunk,
    valentine,
    garden,
    lofi,
    pastel,
    fantasy,
    wireframe,
    cmyk,
    autumn,
    acid,
    lemonade,
    winter,
    nord;
}

.navbar {
  padding: 0;
  min-height: 2rem;
}

.tippy-variation-contextMenu .tippy-box {
  background-color: unset;
  color: unset;
}

.game-tooltip .tippy-box {
  background: oklch(0.15 0.01 260);
  border: 1px solid oklch(0.35 0.02 260);
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px oklch(0 0 0 / 0.5);
  color: white;
  padding: 0.5rem;
}

.game-tooltip .tippy-arrow {
  color: oklch(0.15 0.01 260);
}

.text-shadow-black {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text-shadow-white {
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
